.boldClass{
    font-weight:bold;
}

.italicsClass{
    font-style:italic;
}

.colorClass{
    color:red;
}

#div1{
    width: 100%;
    height: 200px;
    border: 1px seagreen solid;
}

.add_class{
    background-color: brown;
    border: 1px chartreuse;
}