<div class="container">
	<div class="row">
        	<div class="jumbotron">
                <div class="col-sm-12 col-lg-12 col-md-12"><img src="{{logo_url}}"></div>
                <div class="col-sm-12 col-lg-12 col-md-12"><h3>{{uni_name}}</h3></div>
          </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
          <app-welcome></app-welcome>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <app-notice-message></app-notice-message>
        </div>
    </div>
    <div class="row">
        <app-randomly></app-randomly>
    </div>
</div>